@import './variable.scss';

@mixin btnStyle($color, $fontsize) {
    padding: 10px 30px;
    margin-left: 10px;
    border: none;
    border-radius: 10px;
    color: $color;
    font-size: $fontsize;
    cursor: pointer;
    &:focus{
        background-color: $hotPing;
        color: $whiteColor;
    }
}