@import "./variable.scss";
@import "./function" ;


// nested 
.main_content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    h2 {
        color: $hotPing;
    }

    // mixing 
    // function
    button {
        @include btnStyle($hotPing, 18px);
    }
}