@import './variable.scss';

// nested css 
.navber{
    width: 100%;
    height: 80px;
    background-color: $navColor;
    display: flex;
    justify-content: end;
    align-items: center; 

    span {
        color: $hotPing;
    }
}

.navber a {
    text-decoration: none;
    color: $whiteColor;
    padding: 20px;
    font-family: navFont;
    font-size: 22px;
    &:hover{
       background-color: $navHover;
       border-radius: 10px;
    }
}