// text color

$whiteColor : rgb(249, 249, 255);
$blackColor : rgb(24, 24, 24);
$limeColor : rgb(18, 248, 191);


// background color  

$navColor : rgb(104, 100, 100);
$hotPing : rgb(255, 17, 128);

// fonts 
$bodyFont: arial, helvetica, sans-serif;
$titleFont: "Times New Roman", times, serif;
$navFont: helvetica;

