// text color

$whiteColor : rgb(249, 249, 255);
$blackColor : rgb(24, 24, 24);
$limeColor : rgb(18, 248, 191);


// background color  

$navColor : rgb(145, 5, 121);
$hotPing : rgb(255, 17, 128);

// fonts 
$bodyFont: arial, helvetica, sans-serif;
$titleFont: "Times New Roman", times, serif;
$navFont: helvetica;

// hover 
$navHover : rgba(187, 2, 141, 0.527)